:host{
    flex: 1 1;
    display: flex;

    .container{
        flex: 1 1;
        display: flex;

        ::ng-deep{
            .typeform-widget{
                flex: 1 1;
                display: flex;

                iframe{
                    flex: 1 1;
                    border: none;
                }
            }
        }
    }
}